---
layout: default
title: Luxury Hotel Amenities in Central Park | WestHouse Hotel
meta_description: WestHouse Hotel New York features the best in boutique services with a selection of luxury amenities to enjoy during your stay in New York City.
permalink: /amenities/
meta_tags:
  robots:
---

<div class="inner-banner pattern bg-cover" style="background-image: url('/assets/images/amenities/Spherical-WestHouse-7070.jpg');">
  <h1>Amenities</h1>
</div>

{% include booking-widget.html %}

<div class="sub-nav">
  
  {% for amenities in site.data._models.amenities | sort: "menu_order" %}
    <a href="/amenities/{{ amenities.url_friendly_name }}/">{{ amenities.title }}</a></li>
  {% endfor %}
  <a href="/perfect-picnic-in-nyc/">Your Perfect Picnic</a></li>
</div>

<section class="container offers-listing">

  <div class="row">
    <div class="offer-listing-intro">
      {% regionblock offers_intro, type:text %}
        <p>A boutique hotel unlike any other in NYC, WestHouse Hotel New York is an entirely new concept in luxury hospitality, a true “house away from home” where a curated portfolio of services and hotel amenities transcends the norm. From fashion and luxury lifestyle trend-setters including DayNa Decker and Sleep | Studio, we have partnered with only the best to create a purely exclusive yet welcoming experience. Purposefully designed to have a fluid, residential feel, guests check-in just once and for the remainder of their stay enjoy #InResidence privileges ranging from culinary delicacies to signature libations.</p>
      {% endregionblock %}
    </div>
  </div>

  <div class="row">

    {% assign partners = site.data._models.amenities| sort: "menu_order" %}
          {% for partner in partners %}
    <div class="col-lg-4" >
      <div class="offer-item">

        <div class="offer-image bg-cover" style="background-image:url('{{ partner.image.url }}');">
          <a href="/amenities/{{ partner.url_friendly_name }}/" class="floating-btn" target="_blank">Learn More</a>
        </div>

        <h2><a href="/amenities/{{ partner.url_friendly_name }}/">{{ partner.title }}</a></h2>

        <p>{{partner.shortdescrp}}</p>

      

      </div>
    </div>
    {% endfor %}

  </div>

</section>


