---
layout: default
title: Contact Us – WestHouse Hotel New York
meta_description: Please feel free to contact us at WestHouse Hotel New York with any questions you may have about our signature luxury boutique hotel in Manhattan.
permalink: /contact-us/
meta_tags:
  robots:
---

<div class="inner-banner pattern bg-cover" style="background-image: url('/assets/images/contact/westhouse-hotel-new-york-about7.jpg');">
  <h1>Contact Us</h1>
</div>

{% include booking-widget.html %}

<section class="common-details">
  <div class="common-details-container">
    <div class="common-details-row">

      <div class="common-content text-center pb-4">
        {% regionblock contact_intro, type:text %}
          <p>Please feel free to contact us at WestHouse Hotel New York with any questions you may have about our luxury boutique hotel. Simply complete the contact form below and a member of our staff will respond promptly.</p>
        {% endregionblock %}
      </div>

      <div class="left contact-form mb-5 mb-md-0">
        {% include forms/jotform/contact.html %}
      </div>

      <div class="right">
        <div class="right-content">
          <div class="contact-info">
            {% regionblock contact_text, type:text %}
              <p><strong>Address</strong><br>
                <a href="https://www.google.com/maps/place/201+W+55th+St,+New+York,+NY+10019/data=!4m2!3m1!1s0x89c258f8245a4eab:0xc69337a732b07f42?sa=X&ved=0CB0Q8gEwAGoVChMIscyLk4_qxgIVx40NCh1-MQCy" target="_blank">201 West 55th Street, New York, NY, 10019</a>
              </p>
              <p><strong>Toll Free:</strong><br> 1 (800) 355-WEST (9378)
              </p>
              <p><strong>Telephone:</strong><br>
                <a href="tel:+ 1 (212) 707-4888">+ 1 (212) 707-4888</a>
              </p>
              <p><strong>Fax:</strong><br> + 1 (212) 707-4806
              </p>
              <p><strong>Email:</strong><br>
                <a href="mailto:welcome@westhousehotelnewyork.com">welcome@westhousehotelnewyork.com</a>
              </p>
              <p><strong>Group Bookings:</strong><br>
                <a href="mailto:sales@westhousehotelnewyork.com">sales@westhousehotelnewyork.com</a>
              </p>
              {% endregionblock %}

              <p> <strong>Driving Directions</strong></p>
              <p>201 West 55th Street, New York, NY, 10019</p>

              <div class="left-side-directions">
              
                
                <div class="toggle-directions">
                    <a class="toggle-nav-item from active" href="#from" onclick="toggleVisibility('from-container');"> From Westhouse | </a>
                    <a class="toggle-nav-item to" style="padding-top:10px;" href="#to" onclick="toggleVisibility('to-container');"> To Westhouse </a>
                  </div>
                </div>
                <div id="from-container" >
                  <div class="from">
                 <input type="text" id="text" />
                  </br>
                 <input type="button" id="btn" class="reserve-btn directions" value="Get Directions" onClick="javascript: window.open('https://www.google.com/maps/dir/?api=1&origin=201+W+55th+St,+New+York,+NY+10019&destination=' + document.getElementById('text').value);" />      </div>
                    
              
              </div>
              
                  </div>
              
                <div id="to-container" style="display:none">
                  <div class="to">
                      <input type="text" id="text" />
                  </br>
                  <input type="button" id="btn" class="reserve-btn directions" value="Get Directions" onClick="javascript: window.open('https://www.google.com/maps/dir/?api=1&origin=' + document.getElementById('text').value + '&destination=201+W+55th+St,+New+York,+NY+10019');" />
              </div>
              
              </div>
            </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<iframe style= "padding-top:20px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.790360025162!2d-73.98149313754777!3d40.764710009104235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f8245a4eab%3A0x86165540b81f3d02!2sWestHouse+New+York!5e0!3m2!1sen!2s!4v1438272959521" title="map" width="100%" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>





  
 

 <script>
 var divs =["from-container","to-container"];
var visibleDivId = null;
function toggleVisibility(divId) {
  if(visibleDivId === divId) {
    //visibleDivId = null;
  } else {
    visibleDivId = divId;
  }
  hideNonVisibleDivs();
}
function hideNonVisibleDivs() {
  var i, divId, div;
  for(i = 0; i < divs.length; i++) {
    divId = divs[i];
    div = document.getElementById(divId);
    if(visibleDivId === divId) {
      div.style.display = "block";
      
    } else {
      div.style.display = "none";
    }
  }
}

$(function() {
    $("a.to").on("click", function() {
        $(".from.active").removeClass("active");
        $(".a").addClass("active");
    });
    $("a.from").on("click", function() {
        $(".to.active").removeClass("active");
        $(".from").addClass("active");
    });
});

</script>
<section class="contact-heading">
  <h5>CONNECT WITH US</h5>
  <p>Explore our universe and share your experiences #InResidence</p>
</section>
<section class="instafeed">
  <div class="instafeed-container">
    <div class="instafeed-intro less-padding">
      <a href="https://instagram.com/{{ site.data.social.instagram.username }}/" target="_blank">
      <div class="instafeed-logo"><i class="fa fa-instagram"></i> <a href="https://www.facebook.com/{{ site.data.social.facebook.username }}/" target="_blank" aria-label="Facebook"><i class="fa fa-facebook-square"></i></a></div>
      <h5>@westhouseny</h5>
      </a>
    </div>
    <div class="instafeed-row" id="instapics"></div>
    <!--div class="instafeed-row">
      <div class="col-md-6">
      <div class="social-connect">
      <a href="https://www.facebook.com/{{ site.data.social.facebook.username }}/" target="_blank" aria-label="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/{{ site.data.social.twitter.username }}/" target="_blank" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://instagram.com/{{ site.data.social.instagram.username }}/" target="_blank" aria-label="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://plus.google.com/{{ site.data.social.googleplus.username }}/" target="_blank" aria-label="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/{{ site.data.social.youtube.username }}/" target="_blank" aria-label="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a href="https://www.tripadvisor.com/{{ site.data.social.tripadvisor.username }}/" target="_blank" aria-label="Tripadvisor"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
      </div>
      </div>

      <div class="col-md-6">
        <div class="trip-connect carousel-common">
          <div id="trpadvisor-carousel" class="main-carousel carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
              {% for tripadvisor in site.data._models.tripadvisor %}
                <li data-target="#trpadvisor-carousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
              {% endfor %}
            </ol>

            <div class="carousel-inner">
              {% for tripadvisor in site.data._models.tripadvisor %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <div class="trip-logo">
                    <img src="/assets/images/tripadvisory.png" alt="TripAdvisor">
                  </div>
                  <div class="trip-comment">
                    <p>"{{ tripadvisor.contents }}"</p>
                  </div>
                  <div class="tripadvisor-author">
                    <p>{{ tripadvisor.Credit }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#trpadvisor-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true">
                <img src="/assets/images/prev.png" alt="Previous Slide">
              </span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#trpadvisor-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true">
                <img src="/assets/images/next.png" alt="Next Slide">
              </span>
              <span class="sr-only">Next</span>
            </a>

          </div>
        </div>
      </div>

    </div-->

  </div>
</section>



  