---
layout: default
title: Luxury Hotels in Manhattan | WestHouse Hotel New York
meta_description: Extraordinary among luxury hotels in Manhattan, WestHouse Hotel New York is a true "house away from home." Book your Luxurious New York City break today.
permalink: /thankyou/
meta_tags:
  robots:
---

<div class="inner-banner pattern bg-cover" style="background-image: url('/assets/images/home/westhouse-hotel-new-york-entrance.jpg');">
  <h1>Thank You</h1>
</div>

{% include booking-widget.html %}

<section class="common-details">
  <div class="common-details-container">
    <div class="common-details-row">
      <div class="common-content text-center">
        {% regionblock thankyou_message, type:header %}
          <h3>We will get in touch with you shortly.</h3>
        {% endregionblock %}
      </div>
    </div>
  </div>
</section>

<section class="thankyou-offers">
  <div class="container offers-listing" ng-controller="loader" rt3-special-rates="offers">
    <div class="row thankyou-offers-carousel">
      <div class="col-lg-4" ng-repeat="offer in offers.special_rates">
        <div class="offer-item">
          <div class="offer-image bg-cover" ng-style="{'background-image': 'url([[offer.images[0].large || '/assets/images/dummy.jpg' ]])'}">
            <a ng-href="[[offer.promo_url]]" class="floating-btn" target="_blank">Book Now</a>
          </div>
          <h2><a href="/offer/#[[ offer.rate_plan_name | formatNameForLink ]]">[[ offer.rate_plan_name | renderHTMLCorrectly ]]</a></h2>
          <p ng-bind-html="offer.short_description | limitTo: 120 | renderHTMLCorrectly">[[ offer.short_description.length > 120 ? '...' : '' ]]</p>
          <div class="btn-holder">
            <a ng-href="/offer/#[[ offer.rate_plan_name | formatNameForLink ]]" class="btn-empty">Read More +</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
