{% for banner in site.data._models.top-banner %}
  {% if banner.featured == true %}
    <!--Top Banner-->
    <section class="top-banner" style="background-color: {{ banner.background-color }}">
      <p style="color: {{ banner.banner-text-color }}">{{ banner.banner-text }}</p>
      <a class="button primary-btn" href="{{ banner.button-link }}" title="{{ banner.button-text }}" target="_blank" style="color: {{ banner.button-text-color }}; background-color: {{ banner.button-background-color }}; border-color: {{ banner.button-border-color }}">{{ banner.button-text }}</a>
    </section>
  {% endif %}
{% endfor %}
