/*
   Partners Page Elements
   ========================================================================== */
.object-fit {
  width: 100%;
  min-height: inherit;
  object-fit: cover;
}

.partners-text {
  width: 55%;
  text-align: right;
}
