---
layout: default
---

<div class="inner-banner pattern bg-cover"{% unless page.url contains "/amenities/aaptiv-guided-fitness-training/" %} style="background-image: url('{{ page.image.url }}');"{% endunless %}>
    {% if page.url contains "/amenities/aaptiv-guided-fitness-training/" %}
      <img src="{{ page.image.url }}" alt="{{ page.image.alt }}" class="object-fit">
    {% endif %}
    {% if page.title != "Free Audio Fitness Classes with Aaptiv" %}
      <h1>{{ page.title }}</h1>
    {% endif %}
</div>

<div class="sub-nav">
  {% for amenities in site.data._models.amenities %}
  <a href="/amenities/{{ amenities.url_friendly_name }}/">{{ amenities.title }}</a></li>
{% endfor %}
</div>

<section class="common-details">
  <div class="common-details-container">
    <div class="common-details-row">
      <div class="common-content">
        <h3>{{ page.title }}</h3>

        {{ page.contents }}
      </div>
    </div>
  </div>
</section>
